<div>
  <img src="/img/logo.png" alt="KT法" class="logo">
  <p>ユーザーログイン</p>
  <form method="post" action="/users/login">
    <div class="field">
      <label for="email" class="label">Eメール</label>
      <input type="email" class="control" id="email" name="email" required>
    </div>
    <div class="field">
      <label for="password" class="label">パスワード</label>
      <input type="password" class="control" id="password" name="password" required>
    </div>
    <button type="submit" class="button is-primary ">入力</button>
  </form>



</div>