<section class="hero">
  <div class="hero-body has-background-primary">
    <div class="container">
      <h1 class="title is-1">
        {{title}}
      </h1>
      <h2 class="subtitle is-2">
        KTバランスチャートで嚥下機能を改善しましょう！
      </h2>
      <a href="/scores/add" class="button is-primary">スコアを入力する．</a>
    </div>
  </div>
</section>