<h2 class="is-size-4">患者さんの基本データ入力</h2>
<form action="/patients" method="post">
  <div class="field">
    <label for="karteNo" class="label">カルテ番号(英数字のみ入力可能)
    </label>
    <div class="control">
      <input class="input" type="text" id="karteNo" placeholder="例)000135" name="karteNumber" required>
    </div>


    <div class="field">
      <label for="firstN" class="label">名前のイニシャル</label>
      <div class="control">
        <input class="input" type="text" id="firstN" placeholder="例)Y" name="firstNameInitial" required>
      </div>

      <label for="lastN" class="label">苗字のイニシャル</label>
      <div class="control">
        <input class="input" type="text" id="lastN" placeholder="例)T" name="lastNameInitial" required>
      </div>

    </div>

    <div class="field is-grouped">
      <div class="control">
        <button class="button is-primary">登録</button>
      </div>
      <div class="control">
        <button class="button is-text">中止</button>
      </div>
    </div>
  </div>
</form>